<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {%- set pageTitle = title -%}
  {%- if '/tag/' in page.url -%}
  {% set pageTitle = 'Filed under "'+ tag + '"' %}
  {%- endif -%}
  {%- set siteDescription = summary -%}
  {%- set currentUrl = site.url + page.url -%}
  {%- set socialImage = site.url + site.socialImage -%}

  <link rel="canonical" href="{{ currentUrl }}" />
  <meta property="og:site_name" content="{{ siteTitle }}" />
  <meta property="og:title" content="{{ pageTitle }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ currentUrl }}" />
  <meta name="twitter:card" content="summary" />
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Decorative image for {{ site.siteName }}" />
  <meta name="twitter:image:alt" content="Decorative image for {{ site.siteName }}" />
  <meta name="description" content="{{ siteDescription }}" />
  <link rel="icon" href="/img/favicon.svg" type="image/svg+xml" />
  <title>{{ site.siteName }}{% if page.url !== '/' %} - {{ pageTitle }}{% endif %}</title>
  {% set css %}
    {% include "css/global.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
</head>
<body>
  <a href="#main-content" class="skip-link">Skip to main content</a>
  <header>
    <div class="wrapper site-header">
      <div class="site-title">CMS Test</div>
      <nav aria-label="Primary">
        <ul class="site-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="main-content">
    <div class="wrapper flow">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer>
    <div class="wrapper">
      A small test put together by <a href="https://danabyerly.com">Dana Byerly</a> using <a href="https://11ty.dev">Eleventy</a>, <a href="https://forestry.io">Forestry</a> and <a href="https://netlify.com">Netlify</a>.
    </div>
  </footer>
</body>
</html>
