{% extends "layouts/base.html" %}

{% block content %}
  <article class={{ 'featured' if page.url === '/' else 'post' }}>
    <h1>{{ title }} {% if '/tag/' in page.url %}"{{ tag | replace(' ', '-') | lower }}"{% endif %}</h1>
    {{ content | safe }}
  </article>

  {% if page.url === '/' %}
  {% for post in collections.posts | limit(3) %}
  {% include "partials/post-list.html" %}
  {% endfor %}
  <div>
    <a href="/posts/">View all posts
      <svg xmlns="http://www.w3.org/2000/svg" class="icon-1-25x pagination-arrow" width="20" height="20"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#000" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <line x1="5" y1="12" x2="19" y2="12" />
        <line x1="15" y1="16" x2="19" y2="12" />
        <line x1="15" y1="8" x2="19" y2="12" /></a>
  </div>
  {% endif %}
{% endblock %}
